<!doctype html>
<html lang="en">
<head>
  {% block meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block styles %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/flatly/bootstrap.min.css"
          integrity="sha256-+omx7xYvI+/C0kfnQmjAIW8dDbTweWpbYHWzveX4ii4="
          crossorigin="anonymous">
    <style>
      body {
          padding-top: 72px;
      }
    </style>
  {% endblock %}

  <title>{% block title %}{{ config['APP_NAME'] }}{% endblock %}</title>
  <script>
    console.log("Developed by Michael Toohig\nSee more of my work at https://michaeltoohig.com")
  </script>
</head>
<body>

{% include 'partials/navbar.html' %}
<div id="main">
  {% block content %}
  {% endblock %}
</div>

{% block scripts %}
  {% include 'partials/scripts.html' %}
{% endblock %}

</body>
</html>
