{% extends '_base.html' %}
{% block styles %}
  {{ super() }}
  {{ styles }}
  <script src="{{ url_for('static', filename='vendor/cytoscape/cytoscape.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/cytoscape/cytoscape-layout-base.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/cytoscape/cytoscape-cose-base.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/cytoscape/cytoscape-cose-bilkent.js') }}"></script>
  <style>
    #cy {
      width: 100%;
      height: 100%;
      display: block;
    }

    section.graph {
      position: relative;
      width: 100%;
      height: calc(100vh - 160px);
      padding: 0;
    }
    .node-details {
      position: absolute;
      top: 24px;
      left: 20px;
      z-index: 902;
      display: flex;
    }
    .layout-controls {
      position: absolute;
      top: 24px;
      right: 20px;
      z-index: 900;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
    }
    .layout-controls card,
    .layout-controls .btn {
      margin-left: 0.5em;
    }
    .graph-controls {
      position: absolute;
      top: 24px;
      left: 20px;
      z-index: 901;
      display: flex;
      flex-direction: column;
    }
  </style>
{% endblock %}
{% block content %}

  <!-- Page Title -->
  <div class="page-title dark-background" data-aos="fade" style="background-image: url({{ url_for('static', filename='img/page-title-bg.jpg') }});">
    <div class="container position-relative">

      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center">
          <h1>
            {{ center_node.name }}
            {% if center_node.type == "company" %}
            {% if center_node.number %}({{ center_node.number }}){% endif %}
            {% endif %}
          </h1>
          {% if center_node.type == "company" %}
          <p><strong>Data Collected On:</strong> {{ center_node.lastseen | format_date }}</p>
          <div class="row gy-4">
            <div class="col-lg-4 col-12">
              <h5>Details</h5>
              <p>
                <strong>Status:</strong> <span>{{ center_node.status or '-' }}</span><br>
                <strong>Company Type:</strong> <span>{{ center_node.company_type or '-' }}</span><br>
                <strong>Registration Date:</strong> <span>{{ center_node.registration_date | format_date or '-' }}</span><br>
              </p>
            </div>
            <div class="col-lg-4 col-12">
              <h5>Office Address</h5>
              {% if center_node.office_address %}
              <p>{{ center_node.office_address }}</p>
              {% else %}
              <p>No address found.</p>
              {% endif %}
            </div>
            <div class="col-lg-4 col-12">
              <h5>Postal Address</h5>
              {% if center_node.postal_address %}
              <p>{{ center_node.postal_address }}</p>
              {% else %}
              <p>No address found.</p>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>

    </div>
  </div><!-- End Page Title -->

  <!-- Graph Section -->
  <section id="graph" class="graph section">

    <div id="cy"></div>

    <div class="node-details">
      <div id="node-card" class="card border-primary shadow-sm" style="display: none;">
          <div class="card-header px-2 py-1">Information</div>
          <div class="card-body px-2 py-1">
              <div id="node-card-text" class="card-text"></div>
              <button id="node-btn" class="btn btn-primary btn-sm my-1 py-0">Graph</button>
          </div>
      </div>
    </div>

    <div class="graph-controls">
      <div class="btn-group-vertical shadow-sm">
        <button id="graph-zoom-in" class="btn btn-primary btn"><i class="bi bi-zoom-in"></i></button>
        <button id="graph-zoom-out" class="btn btn-primary btn"><i class="bi bi-zoom-out"></i></button>
      </div>
    </div>

    <div class="layout-controls">
      <div class="card card-primary shadow-sm">
        <div class="card-body py-2 my-0">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="filterRegisteredSwitch">
            <label class="form-check-label" for="filterRegisteredSwitch">Show Registered Only</label>
          </div>
        </div>
      </div>
      <button id="concentricBtn" class="btn btn-primary shadow-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
          <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
          <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
        </svg>
      </button>
      <button id="coseBilkentBtn" class="btn btn-primary shadow-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-shuffle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.6 9.6 0 0 0 7.556 8a9.6 9.6 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.6 10.6 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.6 9.6 0 0 0 6.444 8a9.6 9.6 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5"/>
          <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192"/>
        </svg>
      </button>
    </div>

  </section>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    // Embed the graph data directly in the template
    const graphData = {{ graph_data|safe }};
  </script>
  <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
{% endblock %}
