{% extends '_base.html' %}
{% block styles %}
  {{ super() }}
  {{ styles }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.23.0/cytoscape.min.js"></script>
  <script src="https://unpkg.com/layout-base/layout-base.js"></script>
  <script src="https://unpkg.com/cose-base/cose-base.js"></script>
  <script src="{{ url_for('static', filename='js/cytoscape-cose-bilkent.js') }}"></script>
  <style>
    #cy {
      width: 100%;
      height: 100%;
      display: block;
    }
  </style>
{% endblock %}
{% block content %}
{% import '_macros.html' as macros %}

{% include 'home/hero.html' %}

{% include 'home/featured-pages.html' %}

{% include 'home/how-its-made.html' %}

{% include 'home/call-to-action.html' %}

{% include 'home/faq.html' %}

{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    // Embed the graph data directly in the template
    const graphData = {{ graph_data|safe }};
  </script>
  <script src="{{ url_for('static', filename='js/hero-graph.js') }}"></script>
{% endblock %}
